body#home {
  font-weight: bold;

  .nestedRule {
    margin-bottom: 0px;

    a:hover { text-decoration: none }
  }
}

// Compiles to:
//
// body#home {
//   font-weight: bold;
// }
//
// body#home .nestedRule {
//   margin-bottom: 0px;
// }
//
// body#home .nestedRule a:hover { text-decoration: none }