$font: Arial, Helvetica;

body#home {
  font: 10px $font;
  font-weight: bold;

  background: url(/images/back.jpg) no-repeat;
  
  $pad: 10px;

  margin: $pad;

  .nestedRule {
    padding: $pad;
    margin-bottom: 0;

    a:hover { text-decoration: none }
  }

  color: #fff;

  h1 {
    font-size: 30px;
  }
}
